.identity {
    
    background-color:#2574a9 ; 
}
.adress {
    
    background-color:#9a12b3;
}
.payment {
    
    background-color: #db0a5b;
}
.titleIdentity{
    background-color:#2574a9 ; 
}
.titleAdress{
    background-color:#9a12b3 ;
}
.titlePayment{
    background-color: #db0a5b;
    
}

